six
image
tensorflow
tensorflow_hub
tensorflow-object-detection-api
object_detection


# Windows - Microsoft C++ Build Tools https://visualstudio.microsoft.com/visual-cpp-build-tools

sudo apt install -y protobuf-compiler
cd models/research/
protoc object_detection/protos/*.proto --python_out=.
cp object_detection/packages/tf2/setup.py .
python -m pip install .

